.photocopy {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.1;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  animation: flicker 0.05s infinite alternate;
}

.screen {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.screen p {
  text-shadow: var(--text-glitch);
  background-clip: text;
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  margin-left: 20px;
}

footer ul li:last-child {
  margin-right: 20px;
}

footer ul li a {
  text-decoration: underline;
}

footer ul li a:hover {
  cursor: pointer;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.21;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding-bottom: 10px;
  }

  footer ul {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  footer ul li {
    margin: 0;
  }
}
