.photocopy {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  object-fit: cover;
  opacity: 0.1;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  animation: flicker 0.05s infinite alternate;
}

.screen {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.screen p {
  text-shadow: var(--text-glitch);
  background-clip: text;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

fieldset {
  padding: 12px;
}

legend {
  padding: 0 5px;
}

#transcript {
  height: 600px;
  width: 300px;
  position: relative;
}

.messages {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: calc(100% - 50px);
  margin-bottom: 10px;
  scrollbar-width: none;
}

#email {
  height: 600px;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#repairdetails {
  height: 300px;
  width: 700px;
}

#repairsubmit {
  flex: 1;
  height: 300px;
}

.dark .transcript-message,
.light .user-message {
  color: #000;
  background-color: #fff;
}

.light .transcript-message,
.dark .user-message {
  color: #fff;
  background-color: #000;
}

.transcript-message {
  padding: 2px;
  margin-bottom: 5px;
  text-shadow: none;
}

.corrupted {
  text-shadow: var(--text-glitch);
}

#transcript input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

#transcript input:focus {
  outline: none;
}

input[disabled] {
  opacity: 0.2;
}

#transcript input::placeholder {
  color: #fff;
}

.light #transcript input {
  border: 2px solid #000;
  color: #000;
}

.light #transcript input::placeholder {
  color: #000;
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  margin-left: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  text-decoration: underline;
}

footer ul li a:hover {
  cursor: pointer;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.21;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    margin-top: 30px;
  }

  footer ul {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  footer ul li {
    margin: 0 10px;
    margin-bottom: 10px;
  }
}

.dark a {
  color: #fff;
}

.light a {
  color: #000;
}
